.form{
    background-image: url(../../../../assets/images/file.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.button_positon{
    position: fixed;
    bottom: 5%;
    right: 9%;
}